# Dependencies
node_modules/

# Environment Variables & Secrets
.env
.env.local
.env.*.local

# Persistent App State & Tokens
data/
*.tmp

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.system_generated/

# OS Files
.DS_Store
Thumbs.db
